.place-an-order-page {
    margin-top: 120px;
    margin-bottom: 140px;
}

.order-booking-page {
    margin-top: 80px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.checkout_wrapper {
    width: 700px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: row;
}

.product_info {
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 10%);
}

.checkout_form {
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 10%);
}

.checkout_wrapper .product_info {
    width: 45%;
    background: #ff9e38;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
    position: relative;
}

.checkout_wrapper .product_info img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
}

.checkout_wrapper .checkout_form {
    width: 55%;
    background: #fff;
    padding: 40px 25px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.checkout_wrapper .product_info .order-content {
    text-align: center;
    margin-top: 25px;
    color: #fff;
    text-transform: uppercase;
}

.checkout_wrapper .product_info .order-content h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
}

.checkout_wrapper .product_info .order-content p {
    margin-top: 10px;
    font-size: 14px;
}

.checkout_form p {
    margin-bottom: 25px;
    font-size: 20px;
    text-transform: uppercase;
}

.order_btn {
    background: #ff9e38 !important;
    transition: 0.3s ease;
}

.order_btn:hover {
    background: #e68218 !important;
}

@media screen and (max-width: 700px) {
    .place-an-order-page {
        margin-top: 200px;
        margin-bottom: 220px;
    }
    .checkout_wrapper {
        width: 100%;
        height: 500px;
        flex-direction: column;
        align-items: center;
    }
    .checkout_wrapper .product_info {
        width: 75%;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .checkout_wrapper .product_info img {
        border-top-right-radius: 20px;
    }
    .checkout_wrapper .checkout_form {
        width: 75%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }
}

@media screen and (max-width: 450px) {
    .place-an-order-page {
        margin-top: 165px;
        margin-bottom: 200px;
    }
    .checkout_wrapper .product_info {
        width: 90%;
    }
    .checkout_wrapper .checkout_form {
        width: 90%;
    }
}

@media screen and (max-width: 365px) {
    .place-an-order-page {
        margin-top: 135px;
        margin-bottom: 200px;
    }
    .checkout_wrapper .product_info {
        width: 95%;
    }
    .checkout_wrapper .checkout_form {
        width: 95%;
    }
}